/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&family=Rubik:wght@400;500&display=swap");

/* 50 */
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
}

/* 58 */
body {
    color: #454545;
    background: white;
    font-weight: 400;
    line-height: 28px;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
}

/* 66 */
a {
    color: #454545;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    text-decoration: none;
}

/* 74 */
a:hover, a:focus, a:visited {
    text-decoration: none;
    outline: none;
}

/* 78 */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 12px;
}

/* 84 */
.text-white h1, .text-white h3 {
    color: white;
}

/* 98 */
h1 {
    font-size: 72px;
}

/* 105 */
h3 {
    line-height: 1.55;
    font-size: 22px;
}

/* 119 */
p {
    color: #454545;
}

/* 122 */
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: inline-block;
}

/* 212 */
.container {
    max-width: 1200px;
}

/* 248 */
.text-white .sub-title {
    color: white;
}

/* 267 */
.theme-btn, a.theme-btn {
    background: #104cba;
    font-size: 16px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    padding: 11px 28px;
    display: inline-flex;
    align-items: center;
    text-transform: capitalize;
}

/* 295 */
.theme-btn:hover, a.theme-btn:hover {
    color: white;
    background: #000000;
}

/* 562 */
.social-style-one {
    display: inline-block;
}

/* 564 */
.social-style-one a {
    margin-right: 15px;
    color: #000000;
}

/* 567 */
.social-style-one a:last-child {
    margin-right: 0;
}

/* 569 */
.social-style-one a:hover {
    color: #104cba;
}

/* 683 */
.text-white *, .text-white a {
    color: white;
}

/* 688 */
.overlay {
    position: relative;
    z-index: 1;
}

/* 691 */
.overlay::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.4;
    background-color: #0d004c;
}


/* 741 */
.bgs-cover {
    background-size: cover;
    background-position: center;
}

/* 769 */
.bg-lighter {
    background-color: #e5eef6;
}

/* 754 */
.bg-blue {
    background-color: #104cba;
}

/* 754 */
.bg-blue {
    background-color: #104cba;
}

/* 987 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    color: #000000;
    font-family: "Nunito", sans-serif;
}

/* 992 */
.service-normal .icon i {
    font-size: 70px;
    display: inline-block;
    color: #104cba;
    margin-bottom: 20px;
}

/* 1559 */
.pb-10, .py-10 {
    padding-bottom: 10px;
}

/* 1157 */
.pt-10, .py-10 {
    padding-top: 10px;
}

/* 1173 */
.pt-30, .py-30 {
    padding-top: 30px;
}

/* 1245 */
.pt-120, .py-120 {
    padding-top: 120px;
}

/* 1309 */
.pt-200, .py-200 {
    padding-top: 200px;
}

/* 1418 */
.pr-85, .px-85 {
    padding-right: 85px;
}

/* 1575 */
.pb-30, .py-30 {
    padding-bottom: 30px;
}

/* 1671 */
.pb-150, .py-150 {
    padding-bottom: 150px;
}

/* 1623 */
.pb-90, .py-90 {
    padding-bottom: 90px;
}

/* 1820 */
.pl-85, .px-85 {
    padding-left: 85px;
}

/* 2120 */
.mt-20, .my-20 {
    margin-top: 20px;
}

/* 2132 */
.mt-35, .my-35 {
    margin-top: 35px;
}

/* 3037 */
@media only screen and (max-width: 991px) {
    .rpt-100, .rpy-100 {
        padding-top: 100px;
    }
}

/* 3207 */
@media only screen and (max-width: 991px) {
    .rpb-70, .rpy-70 {
        padding-bottom: 70px;
    }
}

/*******************************************************/
/***************** 05. Custom Animation ****************/
/*******************************************************/
/** Header Section Animation **/
.main-header .logo,
.main-menu  .navigation > li {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: fadeRight;
}


/* 4312 */
.main-header .header-upper {
    position: relative;
    z-index: 5;
    width: 100%;
    transition: all 500ms ease;
}

/* 4319 */
.main-header .header-upper .container-fluid {
    padding: 0;
}

/* 4324 */
.main-header .logo {
    z-index: 9;
    position: relative;
    padding: 2px 0;
}

/* 4337 */
.header-top {
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 4353 */
.top-left ul {
    display: flex;
    align-items: center;
    justify-content: start;
}

/* 4363 */
.top-left ul li {
    margin-right: 50px;
}

/* 4366 */
@media only screen and (max-width: 1500px) {
    .top-left ul li {
        margin-right: 15px;
    }
}

/* 4369 */
.top-right {
    display: flex;
    align-items: center;
    justify-content: start;
}

/* 4382 */
.top-right .office-time {
    margin-right: 75px;
}

/* 4387 */
.top-right .office-time i {
    margin-right: 10px;
    color: #104cba;
}

/* 4391 */
@media only screen and (max-width: 1500px) {
    .top-right .office-time {
        margin-right: 15px;
    }
}

/* 4394 */
.nav-outer {
    width: 100%;
    position: relative;
}

/* 4400 */
.nav-outer .menu-btn {
    margin-left: auto;
}

/* 4434 */
.main-menu .navbar-collapse li {
    float: left;
    padding: 34px 25px;
}

/* 4438 */
.main-menu .navbar-collapse li {
    padding: 34px 16px;
}

/* 4464 */
.main-menu .navbar-collapse li a {
    position: relative;
    display: block;
    font-size: 16px;
    opacity: 1;
    font-weight: 500;
    color: #000000;
    text-transform: capitalize;
    transition: all 500ms ease;
}

/* 4702 */
.header-one .logo-outer {
    margin-right: 45px;
}

/* 4709 */
.header-one .header-top {
    padding-left: 85px;
    padding-right: 230px;
}

/* 4717 */
.header-one .header-inner {
    padding-right: 230px;
}

/* 4721 */
@media only screen and (max-width: 1500px) {
    .header-one .header-inner, .header-one .header-top {
        padding-right: 85px;
    }
}

/* 5302 */
.hero-content .sub-title {
    font-size: 18px;
    font-weight: 500;
}

/* 6254 */
.service-box {
    margin-bottom: 30px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

/* 6263 */
.service-box:hover .service-hover {
    bottom: 0;
}

/* 6266 */
.service-normal, .service-hover {
    padding: 25px;
    border-radius: 5px;
}

/* 6271 */
.service-normal {
    transition: 0.5s;
    border: 1px solid #e7edf8;    
}

/* 6276 */
.service-normal h6 {
    margin-bottom: 15px;
}

/* 6278 */
.service-normal .btn-circle {
    margin-top: 10px;
    color: #104cba;
    display: inline-block;
    width: 33px;
    height: 33px;
    background: #e5eef6;
    line-height: 33px;
    border-radius: 50px;
    text-align: center;
}

/* 6289 */
.service-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    transition: all 500ms ease;
}

/* 6309 */
.service-hover h3 {
    margin-bottom: 20px;
}

/* 6311 */
.service-hover .theme-btn {
    display: block;
    margin-top: 30px;
    padding: 10px 20px;
    background: #285ec1;
}