/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&family=Rubik:wght@400;500&display=swap");

/* 50 */
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
}

/* 58 */
body {
    color: #454545;
    background: white;
    font-weight: 400;
    line-height: 28px;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
}

/* 66 */
a {
    color: #454545;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    text-decoration: none;
}

/* 74 */
a:hover, a:focus, a:visited {
    text-decoration: none;
    outline: none;
}


/* 122 */
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 562 */
.social-style-one {
    display: inline-block;
}

/* 564 */
.social-style-one a {
    margin-right: 15px;
    color: #000000;
}

/* 567 */
.social-style-one a:last-child {
    margin-right: 0;
}

/* 569 */
.social-style-one a:hover {
    color: #104cba;
}

/* 769 */
.bg-lighter {
    background-color: #e5eef6;
}

/* 1559 */
.pb-10, .py-10 {
    padding-bottom: 10px;
}

/* 1157 */
.pt-10, .py-10 {
    padding-top: 10px;
}

/* 4312 */
.main-header .header-upper {
    position: relative;
    z-index: 5;
    width: 100%;
    transition: all 500ms ease;
}

/* 4319 */
.main-header .header-upper .container-fluid {
    padding: 0;
}

/* 4337 */
.header-top {
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 4353 */
.top-left ul {
    display: flex;
    align-items: center;
    justify-content: start;
}

/* 4363 */
.top-left ul li {
    margin-right: 50px;
}

/* 4366 */
@media only screen and (max-width: 1500px) {
    .top-left ul li {
        margin-right: 15px;
    }
}

/* 4369 */
.top-right {
    display: flex;
    align-items: center;
    justify-content: start;
}

/* 4382 */
.top-right .office-time {
    margin-right: 75px;
}

/* 4387 */
.top-right .office-time i {
    margin-right: 10px;
    color: #104cba;
}

/* 4391 */
@media only screen and (max-width: 1500px) {
    .top-right .office-time {
        margin-right: 15px;
    }
}

/* 4709 */
.header-one .header-top {
    padding-left: 85px;
    padding-right: 230px;
}
/* 4721 */
@media only screen and (max-width: 1500px) {
    .header-one .header-inner, .header-one .header-top {
        padding-right: 85px;
    }
}