/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&family=Rubik:wght@400;500&display=swap");

/* 50 */
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
}

/* 58 */
body {
    color: #454545;
    background: white;
    font-weight: 400;
    line-height: 28px;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
}

/* 66 */
a {
    color: #454545;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    text-decoration: none;
}

/* 74 */
a:hover, a:focus, a:visited {
    text-decoration: none;
    outline: none;
}

/* 78 */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 12px;
}

/* 84 */
.text-white h1, .text-white h2, .text-white h3 {
    color: white;
}

/* 98 */
h1 {
    font-size: 72px;
}

/* 101 */
h2 {
    line-height: 1.33;
    font-size: 36px;
}

/* 105 */
h3 {
    line-height: 1.55;
    font-size: 22px;
}

/* 113 */
h5 {
    font-size: 18px;
}

/* 119 */
p {
    color: #454545;
}


/* 122 */
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 131 */
header::after,
section::after,
footer::after {
    display: block;
    clear: both;
    content: "";
}

img {
    max-width: 100%;
    display: inline-block;
}

/* 212 */
.container {
    max-width: 1200px;
}

/* 230 */
.section-title .sub-title {
    font-weight: 500;
    margin-bottom: 20px;
    color: #104cba;
    display: inline-block;
}

/* 248 */
.text-white .sub-title {
    color: white;
}

/* 251 */
.section-title-with-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* 263 */
.section-title-with-btn h2 {
    margin-right: 25px;
}

/* 267 */
.theme-btn, a.theme-btn {
    background: #104cba;
    font-size: 16px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    padding: 11px 28px;
    display: inline-flex;
    align-items: center;
    text-transform: capitalize;
}

/* 290 */
.theme-btn.btn-circle,
a.theme-btn.btn-circle {
    border-radius: 50px;
    padding-left: 35px;
    padding-right: 35px;
}

/* 295 */
.theme-btn:hover, 
a.theme-btn:hover {
    color: white;
    background: #000000;
}

/* 303 */
.theme-btn.style-two, 
a.theme-btn.style-two {
    padding: 11px 35px;
    background: #0850b0;
    border: 1px solid #88a6dd;
}

/* 473 */
.learn-more {
    display: inline-flex;
    align-items: center;
}

/* 482 */
.learn-more i {
    font-size: 13px;
    transition: 0.3s;
    margin: 2px 0 0 8px;
}

/* 516 */
.list-style-one li {
    display: flex;
    font-weight: 500;
}

/* 522 */
.list-style-one li::before {
    color: white;
    font-size: 14px;
    content: "\f00c";
    font-weight: 600;
    margin-top: -4px;
    margin-right: 15px;
    width: 35px;
    height: 35px;
    background: #104cba;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    font-family: 'Font Awesome 5 Free';
}

/* 562 */
.social-style-one {
    display: inline-block;
}

/* 564 */
.social-style-one a {
    margin-right: 15px;
    color: #000000;
}

/* 567 */
.social-style-one a:last-child {
    margin-right: 0;
}

/* 569 */
.social-style-one a:hover {
    color: #104cba;
}

/* 683 */
.text-white *, .text-white a {
    color: white;
}

/* 688 */
.overlay {
    position: relative;
    z-index: 1;
}

/* 691 */
.overlay::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.4;
    background-color: #0d004c;
}


/* 741 */
.bgs-cover {
    background-size: cover;
    background-position: center;
}

/* 769 */
.bg-lighter {
    background-color: #e5eef6;
}

/* 754 */
.bg-blue {
    background-color: #104cba;
}

/* 754 */
.bg-blue {
    background-color: #104cba;
}

/* 763 */
.bg-light-black {
    background-color: #0e1e2a;
}

/* 773 */
.br-5 {
    border-radius: 5px;
}

/* 987 */
h1, h2, h3, h4, h5, h6, 
.success-item .count-text,
.pricing-header .price {
    font-weight: 800;
    color: #000000;
    font-family: "Nunito", sans-serif;
}

/* 992 */
.service-normal .icon i, 
.featured-item .icon i,
.work-progress-item .icon i {
    font-size: 70px;
    display: inline-block;
    color: #104cba;
    margin-bottom: 20px;
}

/* 1406 */
.pr-70, .px-70 {
    padding-right: 70px;
}


/* 1559 */
.pb-10, .py-10 {
    padding-bottom: 10px;
}

/* 1157 */
.pt-10, .py-10 {
    padding-top: 10px;
}

/* 1173 */
.pt-30, .py-30 {
    padding-top: 30px;
}

/* 1213 */
.pt-80, .py-80 {
    padding-top: 80px;
}

/* 1217 */
.pt-85, .py-85 {
    padding-top: 85px;
}

/* 1241 */
.pt-115, .py-115 {
    padding-top: 115px;
}

/* 1245 */
.pt-120, .py-120 {
    padding-top: 120px;
}

/* 1309 */
.pt-200, .py-200 {
    padding-top: 200px;
}

/* 1341 */
.pt-240, .py-240 {
    padding-top: 240px;
}

/* 1370 */
.pr-25, .px-25 {
    padding-right: 25px;
}

/* 1410 */
.pr-75, .px-75 {
    padding-right: 75px;
}


/* 1418 */
.pr-85, .px-85 {
    padding-right: 85px;
}

/* 1575 */
.pb-30, .py-30 {
    padding-bottom: 30px;
}

/* 1619 */
.pb-85, .py-85 {
    padding-bottom: 85px;
}

/* 1647 */
.pb-120, .py-120 {
    padding-bottom: 120px;
}


/* 1671 */
.pb-150, .py-150 {
    padding-bottom: 150px;
}

/* 1623 */
.pb-90, .py-90 {
    padding-bottom: 90px;
}

/* 1772 */
.pl-25, .px-25 {
    padding-left: 25px;
}

/* 1812 */
.pl-75, .px-75 {
    padding-left: 75px;
}

/* 1820 */
.pl-85, .px-85 {
    padding-left: 85px;
}

/* 2116 */
.mt-15, .my-15 {
    margin-top: 15px;
}


/* 2120 */
.mt-20, .my-20 {
    margin-top: 20px;
}

/* 2132 */
.mt-35, .my-35 {
    margin-top: 35px;
}

/* 2514 */
.mb-10, .my-10 {
    margin-bottom: 10px;
}

/* 2534 */
.mb-35, .my-35 {
    margin-bottom: 35px;
}

/* 3034 */
@media only screen and (max-width: 991px) {
    .rpt-95, .rpy-95 {
        padding-top: 95px;
    }
}

/* 3037 */
@media only screen and (max-width: 991px) {
    .rpt-100, .rpy-100 {
        padding-top: 100px;
    }
}

/* 3067 */
@media only screen and (max-width: 991px) {
    .rpt-150, .rpy-150 {
        padding-top: 150px;
    }
}

/* 3071 */
@media only screen and (max-width: 991px) {
    .rpr-0, .rpx-0 {
        padding-right: 0px !important;
    }
}

/* 3207 */
@media only screen and (max-width: 991px) {
    .rpb-70, .rpy-70 {
        padding-bottom: 70px;
    }
}

/* 3225 */
@media only screen and (max-width: 991px) {
    .rpb-100, .rpy-100 {
        padding-bottom: 100px;
    }
}

/* 3646 */
@media only screen and (max-width: 991px) {
    .rmb-70, .rmy-70 {
        margin-bottom: 70px;
    }
}

/*******************************************************/
/***************** 05. Custom Animation ****************/
/*******************************************************/
/** Header Section Animation **/
.main-header .logo,
.main-menu  .navigation > li {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: fadeRight;
}

/* About Image Animation */
@-webkit-keyframes borderRadius1 {
    0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%; }
    50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%; }
    100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%; } 
}
@keyframes borderRadius1 {
    0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%; }
    50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%; }
    100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%; } 
}

@-webkit-keyframes borderRadius2 {
    0% {
    border-radius: 60% 30% 70% 40% / 60% 40% 30% 70%; }
    50% {
    border-radius: 50% 60% 30% 60% / 30% 60% 70% 40%; }
    100% {
    border-radius: 60% 30% 70% 40% / 60% 40% 30% 70%; } 
}

@keyframes borderRadius2 {
    0% {
    border-radius: 60% 30% 70% 40% / 60% 40% 30% 70%; }
    50% {
    border-radius: 50% 60% 30% 60% / 30% 60% 70% 40%; }
    100% {
    border-radius: 60% 30% 70% 40% / 60% 40% 30% 70%; } 
}

/*******************************************************/
/******************* 06. Header style ******************/
/*******************************************************/
/* 4312 */
.main-header .header-upper {
    position: relative;
    z-index: 5;
    width: 100%;
    transition: all 500ms ease;
}

/* 4319 */
.main-header .header-upper .container-fluid {
    padding: 0;
}

/* 4324 */
.main-header .logo {
    z-index: 9;
    position: relative;
    padding: 2px 0;
}

/* 4337 */
.header-top {
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 4353 */
.top-left ul {
    display: flex;
    align-items: center;
    justify-content: start;
}

/* 4363 */
.top-left ul li {
    margin-right: 50px;
}

/* 4366 */
@media only screen and (max-width: 1500px) {
    .top-left ul li {
        margin-right: 15px;
    }
}

/* 4369 */
.top-right {
    display: flex;
    align-items: center;
    justify-content: start;
}

/* 4382 */
.top-right .office-time {
    margin-right: 75px;
}

/* 4387 */
.top-right .office-time i {
    margin-right: 10px;
    color: #104cba;
}

/* 4391 */
@media only screen and (max-width: 1500px) {
    .top-right .office-time {
        margin-right: 15px;
    }
}

/* 4394 */
.nav-outer {
    width: 100%;
    position: relative;
}

/* 4400 */
.nav-outer .menu-btn {
    margin-left: auto;
}

/* 4434 */
.main-menu .navbar-collapse li {
    float: left;
    padding: 34px 25px;
}

/* 4438 */
.main-menu .navbar-collapse li {
    padding: 34px 16px;
}

/* 4464 */
.main-menu .navbar-collapse li a {
    position: relative;
    display: block;
    font-size: 16px;
    opacity: 1;
    font-weight: 500;
    color: #000000;
    text-transform: capitalize;
    transition: all 500ms ease;
}

/* 4702 */
.header-one .logo-outer {
    margin-right: 45px;
}

/* 4709 */
.header-one .header-top {
    padding-left: 85px;
    padding-right: 230px;
}

/* 4717 */
.header-one .header-inner {
    padding-right: 230px;
}

/* 4721 */
@media only screen and (max-width: 1500px) {
    .header-one .header-inner, .header-one .header-top {
        padding-right: 85px;
    }
}

/* 5302 */
.hero-content .sub-title {
    font-size: 18px;
    font-weight: 500;
}

/* 5820 */
.about-section {
    position: relative;
    z-index: 1;
}

/* 5823 */
.about-section::after {
    position: absolute;
    content: '';
    height: 90%;
    width: 40%;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url(../images/about/about-bg-shape.png) no-repeat bottom;
}

.about-section .fact-counter-inner {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

/* 5844 */
.about-image-shape {
    max-width: 555px;
    position: relative;
    z-index: 1;
}

/* 5848 */
.about-image-shape::before {
    position: absolute;
    content: '';
    height: 70%;
    width: 86%;
    left: -9px;
    bottom: 42px;
    z-index: -1;
    background: #104cba;
    animation: borderRadius1 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}

/* 5860 */
.about-image-shape::after {
    position: absolute;
    content: '';
    height: 97%;
    width: 76%;
    top: 13px;
    left: 13px;
    z-index: -1;
    background: #273540;
    animation: borderRadius2 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}

/* 5873 */
.about-content .list-style-one {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* 5885 */
.about-content .list-style-one li {
    width: 49%;
    margin-top: 30px;
}

/* 6254 */
.service-box {
    margin-bottom: 30px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

/* 6263 */
.service-box:hover .service-hover {
    bottom: 0;
}

/* 6266 */
.service-normal, .service-hover {
    padding: 25px;
    border-radius: 5px;
}

/* 6271 */
.service-normal {
    transition: 0.5s;
    border: 1px solid #e7edf8;    
}

/* 6276 */
.service-normal h6 {
    margin-bottom: 15px;
}

/* 6278 */
.service-normal .btn-circle {
    margin-top: 10px;
    color: #104cba;
    display: inline-block;
    width: 33px;
    height: 33px;
    background: #e5eef6;
    line-height: 33px;
    border-radius: 50px;
    text-align: center;
}

/* 6289 */
.service-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    transition: all 500ms ease;
}

/* 6309 */
.service-hover h3 {
    margin-bottom: 20px;
}

/* 6311 */
.service-hover .theme-btn {
    display: block;
    margin-top: 30px;
    padding: 10px 20px;
    background: #285ec1;
}

/* 6713 */
.success-item {
    margin-bottom: 50px;
}

/* 6715 */
.success-item .count-text {
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 20px;
    display: inline-block;
}

/* 6721 */
.success-item .count-text.plus::after {
    content: '+';
}

/* 6725 */
.success-item p {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0;
}

/* 6736 */
.text-white .count-text {
    color: white;
}

/* 6895 */
.featured-item {
    position: relative;
    display: flex;
    padding: 25px;
    background: white;
    border: 2px solid #e6ecf7;
    border-radius: 5px;
    margin-bottom: 30px;
    transition: 0.5s;
}

/* 6915 */
.featured-item .icon {
    margin-right: 25px;
}

/* 6917 */
.featured-item p {
    margin-bottom: 0;
}

/* 6919 */
.featured-item .learn-more {
    margin-top: 12px;
}

/* 7054 */
.work-progress-item {
    margin: 50px auto 0;
    text-align: center;
    max-width: 190px;
}

/* 7058 */
.work-progress-item .icon {
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
    width: 130px;
    height: 130px;
    background: #285ec1;
    line-height: 130px;
    border-radius: 50%;
    text-align: center;
}

/* 7076 */
.work-progress-item .icon i {
    color: white;
    margin: 12px 0 0;
}

/* 7082 */
.work-progress-item .icon .progress-step {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: 500;
    width: 30px;
    height: 30px;
    background: white;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    color: #104cba;
}

/* 7285 */
.pricing-item {
    border-radius: 5px;
    text-align: center;
    margin-bottom: 30px;
    padding: 15px 15px 45px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
}

/* 7299 */
.pricing-item ul {
    margin: 45px 0;
}

/* 7301 */
.pricing-item ul li {
    transition: 0.3s;
    margin-bottom: 18px;
}

/* 7307 */
.pricing-header {
    padding: 25px;
    transition: 0.5s;
    border-radius: 5px;
    background-color: #e5eef6;
}

/* 7314 */
.pricing-header .pricing-title {
    transition: 0.5s;
    margin-bottom: 15px;
    text-transform: uppercase;
}

/* 7320 */
.pricing-header .price {
    line-height: 1;
    font-size: 48px;
    transition: 0.5s;
    color: #104cba;
}

/* 7327 */
.pricing-header .price::before {
    content: '$';
    font-size: 24px;
}

/* 7330 */
.pricing-header .pricing-time {
    opacity: 0.5;
    color: black;
    margin: 10px 0 0;
    transition: 0.5s;
}